<div class="row">
	<div class="columns small-12 medium-6">
		<h1><%= @video.title %></h1>

		<h3>Description:<%= @video.description %></h3>

		<iframe width="420" height="315" src="//www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allowfullscreen></iframe>		

		<button id="editVideoButton">Edit Video</button>

		<div id="editVideoForm" class="hide">
			<%= form_tag("/videos/#{params[:id]}", method: "post") do %> 
			  <%= hidden_field_tag '_method', 'put' %> 

			  <%= label_tag('video[title]', "Title:") %>  
			  <%= text_field_tag('video[title]') %><br>  

			  <%= label_tag('video[description]', "Description:") %>  
			  <%= text_field_tag('video[description]') %><br>  

			  <%= label_tag('video[youtube_id]', "YouTube ID:") %>  
			  <%= text_field_tag('video[youtube_id]') %><br>  
			  
			  <%= submit_tag("submit") %>  
			<% end %>
		</div>

	</div>

	<div class="columns small-12 medium-6">
		<h3>Comments:</h3>
		<% @video.comments.each do |com| %>
			<div class="comment row">
			<span><%= com.content %></span>
			<button id="<%= com.id %>" class="editCommentButton">Edit</button>
			</div>
			<div class="editCommentForm hide row">
				<%= form_tag("/videos/#{@video.id}/comments/#{com.id}", method: "update") do %>  
				  <%= text_field_tag('comment[content]') %>
				  <%= submit_tag "Add Comment", :class => "button" %>  
				<% end %> 					
			</div>
		<% end %>
		<br>

		<%= form_tag("/videos/#{@video.id}/comments", method: "post") do %>  
		  <%= text_field_tag('comment[content]') %>
		  <%= submit_tag "Add Comment", :class => "button" %>  
		<% end %> 		

	</div>
</div>








